@model List<ApplicationUser>

<div class="viewsContainer">
    <h2>Users You Follow</h2>

    @if (Model.Any())
    {
        <ul class="followedUsersList">
            @foreach (var user in Model)
            {
                <li class="userItem">
                    <img class="profileImageMedium" src="~/images/profilePictures/@user.ProfileImageFilename" alt="Profile Image">

                    <!-- 🔥 Klikalny link do profilu użytkownika -->
                    <a asp-controller="Users" asp-action="ShowUser" asp-route-id="@user.Id" class="userName">
                        @user.Name
                    </a>

                    <form method="post" action="/Users/StopListenToUser">
                        <input type="hidden" name="UserId" value="@user.Id">
                        <button class="unfollowButton" type="submit">Unfollow</button>
                    </form>
                </li>
            }
        </ul>
    }
    else
    {
        <p>You are not following anyone.</p>
    }
</div>
