@model UsersShowUserViewModel

<div class="viewsContainer">
    <h2>@Model.User.Name's Profile</h2>

    <div class="userProfileBox">
        <img class="profileImageMedium" src="~/images/profilePictures/@Model.User.ProfileImageFilename" alt="Profile Image">
        <b>@Model.User.Name</b>
    </div>

    <h3>Posts</h3>
    @if (Model.Broadcasts.Any())
    {
        @foreach (var broadcast in Model.Broadcasts)
        {
            <div class="broadcast">
                <p>@broadcast.Message</p>
                @if (!string.IsNullOrEmpty(broadcast.ImageFilename))
                {
                    <img class="broadcastImageFrame" src="~/images/broadcastImages/@broadcast.ImageFilename" alt="Broadcast Image">
                }
            </div>
        }
    }
    else
    {
        <p>No posts yet.</p>
    }
</div>
