@model FeaturedIndexViewModel

<div class="viewsContainer">
    <h2>Featured broadcasts</h2>

    @foreach (var broadcast in Model.SortedBroadcasts)
    {
        <div class="broadcast">
            <div class="profileContainer">
                <img class="profileImageMedium" src="~/images/profilePictures/@broadcast.User.ProfileImageFilename" onclick="enlargeImage(this)" alt="Profile Image">
                <b>@broadcast.User.Name</b>
            </div>
            <p>@broadcast.Message</p>

            @if (!string.IsNullOrEmpty(broadcast.ImageFilename))
            {
                <img class="broadcastImageFull" src="~/images/broadcastImages/@broadcast.ImageFilename" alt="Broadcast Image">
            }

            <p>@broadcast.UserThatLikeBroadcasts.Count Likes</p>
        </div>
    }
</div>
