@model ProfileIndexViewModel

<div class="viewsContainer">
    <div class="profileHeader">
        <img class="profileImageLarge" src="~/images/profilePictures/@Model.ImageFilename" onclick="enlargeImage(this)" alt="Profile Image">
        <h2>@Model.Name</h2>
    </div>

    <div class="updateSection">
        <h3>Update your name</h3>
        @if (!string.IsNullOrEmpty(TempData["Message"]?.ToString()))
        {
            <div class="alert alert-danger">
                @TempData["Message"]
            </div>
        }
        <form method="post" action="/Profile/Update" enctype="multipart/form-data">
            <input name="Name" placeholder="Enter new name">

            <input type="file" name="ProfileImageFile">

            <input class="saveButton" type="submit" value="Save">
        </form>
    </div>
</div>
