@model RecommendedUsersIndexViewModel

<div class="viewsContainer">
    <h2>Recommended Users</h2>

    @if (Model.RecommendedUsers.Any())
    {
        <ul>
            @foreach (var user in Model.RecommendedUsers)
            {
                <li class="userItem">
                    <img class="profileImageMedium" src="~/images/profilePictures/@user.ProfileImageFilename" alt="Profile Image">
                    <span class="userName">@user.Name</span>
                    <form method="post" action="/Users/ListenToUser">
                        <input type="hidden" name="UserId" value="@user.Id">
                        <button class="followButton" type="submit">Follow</button>
                    </form>
                </li>
            }
        </ul>
    }
    else
    {
        <p>There are no recommended users at the moment.</p>
    }
</div>
