@model HomeIndexViewModel

<div class="viewsContainer">
    <h2>Create new Broadcast</h2>

    @if (!string.IsNullOrEmpty(TempData["ErrorMessage"]?.ToString()))
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <form method="post" action="/Home/Broadcast" enctype="multipart/form-data">
        <textarea class="textAreaFullWidth" name="Message" rows="3" placeholder="Write your message here..."></textarea>

        <input type="file" name="ImageFile">

        <input class="saveButton" type="submit" value="Save">
    </form>

    <hr class="separator-double">

    <h2>Broadcasts</h2>

    @foreach (var broadcast in Model.Broadcasts)
    {
        <div class="broadcast">
            <div class="userProfileBox">
                <img class="profileImageMedium" src="~/images/profilePictures/@broadcast.User.ProfileImageFilename" alt="Profile Image">
                <span class="userName">@broadcast.User.Name</span>
            </div>
            <p class="postContent">@broadcast.Message</p>

            @if (!string.IsNullOrEmpty(broadcast.ImageFilename))
            {
                <img class="broadcastImageFull" src="~/images/broadcastImages/@broadcast.ImageFilename" alt="Broadcast Image">
            }

            <form method="post" action="/Home/LikeBroadcast">
                <input type="hidden" name="BroadcastId" value="@broadcast.Id">
                <input class="likeButton" type="submit" value="Like">
            </form>
        </div>
    }
</div>
